@charset "utf-8";
/*************/
/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	font-family: Arial, Helvetica, sans-serif;
}
/* END RESET */
/*************/


/******************/
/* GLOBAL STYLING */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #333333;
	background-color: #666666;
	height: 100%;
	width: 100%;
	overflow: auto;
}

input, textarea {  
    padding: 6px;  
    border: solid 1px #999;
    outline: 0;  
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    background: #FFFFFF;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 2px;
}
    input:focus {  
        -webkit-box-shadow: 0px 0px 5px #74ABE9;
        -moz-box-shadow: 0px 0px 5px #74ABE9;
        box-shadow: 0px 0px 5px #74ABE9;
    }
    
a {
	color: #330066;
}
a:hover {
	color: #CC0066;
}

/* ALERT BOXES */
.errorMsg {
	width: 300px;
	font-size: 14px;
	margin: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
	.errorMsg p {
		font-size: 14px;
		line-height: 40px;
	}
	.errorMsg span {
		margin-top: 12px;
	}

/* END GLOBAL */
/**************/

#main {
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: left;
	padding-bottom: 0px;
}
#main-footer {
	background-image: url(../images/footer-bot-960.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	height: 110px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

/*  ============================   */
/*  LU top and bottom links area   */
/*  ============================   */

#main-toplinks .left, #main-botlinks .left {
	
	margin-right: 20px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: left;
}
#main-toplinks p, #main-botlinks p {
	margin: 0px;
	padding: 0px;
}
#main-toplinks .right, #main-botlinks .right {
	
	margin-left: 20px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	float: right;
}
#main-toplinks .clear, #main-botlinks .clear {
	clear: both;
	height: 1px;
	width: 730px;
	margin: 0px;
	padding: 0px;
	font-size: 10%;
}
#main-toplinks a, #main-botlinks a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 100%;
}
#main-toplinks a:hover, #main-botlinks a:hover {
	text-decoration: underline;
}
#main-toplinks, #main-botlinks {
	width: 920px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 9px;
	margin-left: auto;
	color: #999999;
	font-size: 85%;
	padding: 0px;
}
#main-botlinks {
	margin-top: 30px;
}



/*  =========   */
/*  LU header   */
/*  =========   */

#main-header {
	background-image: url(../images/header-top-960.gif);
	background-repeat: no-repeat;
	background-position: center top;
	width: 100%;
	padding-top: 20px;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	background-color: #FFFFFF;
}
	#main-header .leftbox {
		float: left;
		width: 400px;
		margin-top: 0px;
		margin-left: 20px;
		_margin-left: 10px;  /*  Windows hack   */
		font-size: 85%;
		_font-size: 80%;  /*  Windows hack   */
		color: #666666;
		margin-bottom: 15px;
		line-height: 120%;
	}
	#main-header .leftbox p {
		margin: 0;
	}
	#main-header .rightbox {
		float: right;
		width: 300px;
		margin-top: 2px;
		margin-right: 20px;
		_margin-right: 10px;  /*  Windows hack   */
		text-align: right;
		margin-bottom: 15px;
	}
	#main-header .rightbox img {
		border-top-width: 0px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-left-width: 0px;
		border-top-style: none;
		border-right-style: none;
		border-bottom-style: none;
		border-left-style: none;
	}



/*  ==============   */
/*  LU header menu   */
/*  ==============   */

#main-header-menu {
	background-color: #DDDDDD;
	background-image: url(../images/tl-menu-bg2-hover.gif);
	background-repeat: repeat-x;
	background-position: left top;
	clear: both;
	width: 100%;
	_font-size: 90%;  /*  Windows hack   */
	text-align: center;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDDDDD;
	font-size: 95%;
}
	#main-header-menu ul {
		padding-left: 0px;
		list-style-type: none;
		margin: 0px;
		padding-top: 4px;
		padding-right: 0px;
		padding-bottom: 4px;
		margin-top: -1px;
	}
	#main-header-menu ul li {
		display: inline;
		padding: 0px;
		margin-right: 0px;
		margin-left: -3px;
		height: 100%;
	}
	#main-header-menu ul li a {
		padding-top: 4px;
		padding-right: 8px;
		padding-bottom: 4px;
		padding-left: 8px;
		text-decoration: none;
		margin: 0px;
		color: #333333;
	}
	#main-header-menu ul li a:hover {
		background-color: #EEEEEE;
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: #CCCCCC;
		background-image: url(../images/tl-menu-bg.gif);
		background-repeat: repeat-x;
		background-position: left top;
	}
	#main-header-menu ul li a:active {
		color: #000000;
		background-image: url(../images/default-bctbg.gif);
		background-repeat: repeat-x;
		background-position: left top;
		background-color: #DDDDDD;
	}
	#main-header-menu .rightborder {
		border-right-width: 1px;
		border-right-style: solid;
		border-right-color: #CCCCCC;
		background-repeat: no-repeat;
		background-position: right top;
	}
	#main-header-menu .rightborder:hover {
		background-image: none;
		background-image: url(../images/tl-menu-bg.gif);
		background-repeat: repeat-x;
		background-position: left top;
		background-color: #EEEEEE;
	}
	#main-header-menu .rightborder:active {
		color: #000000;
		background-image: url(../images/default-bctbg.gif);
		background-repeat: repeat-x;
		background-position: left top;
		background-color: #DDDDDD;
	}



/*  ========  */
/*  LU title  */
/*  ========  */

#main-title h1 {
	color: #FFFFFF;
	margin: 0px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 20px;
	font-size: 180%;
}


/*  ===============   */
/*  LU main content   */
/*  ===============   */

#main-content {
	float: left;
	width: 100%;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0px;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #fff;
}
	#main-content h2, #main-content-wide h2 {
		margin-top: 0;
		margin-right: 0px;
		margin-bottom: 0.5em;
		margin-left: 0px;
		padding-top: 0px;
		padding-right: 20px;
		padding-bottom: 0px;
		padding-left: 0px;
		font-size: 1.5em;
	
	}
	#main-content h3, #main-content-wide h3 {
		font-size: 130%;
		margin-top: 20px;
		margin-bottom: 10px;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #CCCCCC;
		padding-bottom: 2px;
	}
	#main-content h3 .light, #main-content-wide h3 .light {
		font-weight: normal;
		font-size: 95%;
	}
	#main-content h4, #main-content-wide h4 {
		font-size: 110%;
		color: #666666;
	}
	#main-content p, #main-content-wide p {
		line-height: 150%;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	#main-content ul, #main-content-wide ul {
		padding-right: 20px;
	}
	#main-content li, #main-content-wide li {
		line-height: 150%;
	}
	#main-content .padleft, #main-content-wide .padleft {
		border: 1px solid #CCCCCC;
		margin-bottom: 10px;
		margin-left: 10px;
	}
	#main-content .padright, #main-content-wide .padright {
		border: 1px solid #CCCCCC;
		margin-bottom: 10px;
		margin-right: 10px;
	}



/*  =====   */
/*  Misc.   */
/*  =====   */

.border {
	border: 1px solid #CCCCCC;
}
.bordertop {
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.whitetxt {
	color: #FFFFFF;
}
.listbutton {
	color: #FFFFFF;
	background-color: #EEEEEE;
	padding: 2px;
	list-style-type: none;
	border: 1px solid #CCCCCC;
	width: 90%;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	font-weight: bold;
	text-align: center;
}

#main-title {
    width: 100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #B6ABC0;
}

#footertext {
    font-size: 85%;
    width: 920px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 20px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #CCCCCC;
    clear: both;
    text-align: center;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

.border {
    border: 1px #CCCCCC solid;
}

.margin {
    margin: 10px;
}

#main-content ul {
    list-style-type: square;
}

#main-title {
    background-image: url(../images/ttlbg-site.jpg);
	width: 100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #B6ABC0;
}


/*  ===============   */
/*  Main Menu         */
/*  ===============   */

#breadcrumb { 
    width: 100%;
	background-image: url('../images/tabs-bg.png');
    font-size: 95%;
    background-repeat: repeat-x;
    height:30px;
    text-align: center;
}

.menu_container {
	float: left;
}
.main_menu {
	margin:0px;
	padding:0px;
	border:0px;
	list-style-type: none;
	display: block;
	height: 30px;
}
	.main_menu li{
		margin:0px;
		padding:0px;
		border:0px;
		display:block;
		float:left;
		position: relative;
		z-index: 5;
		border-left: 1px solid #999999;
		color: white;
		height: 100%;
	}
	.main_menu li.last{
		border-right:none;
	}
	.main_menu li:hover{
		z-index: 10000;
		white-space: normal;
	}
	.main_menu li li{
		float: none;
	}
	.main_menu ul{
		visibility: hidden;
		position: absolute;
		z-index: 10;
		left: 0;
		top; 0;
	}
	.main_menu li:hover>ul{
		visibility: visible;
		top: 100%;
	}
	.main_menu li li:hover>ul{
		top:0;
		left: 100%;
	}
	.main_menu ul {
		width: 11em;
	}
	.main_menu a {
		text-decoration: none;
		color: white;
		padding-left: 25px;
		padding-right: 25px;
		display: block;
		position: relative;
		line-height: 30px;
	}
	.main_menu li:hover {
		background-image: url('../images/tabs-bg-hover.png');
	}
	.main_menu li li {	/* create borders around each item */
		border: 1px solid #ccc;
		background: #999;
	}
	.main_menu ul>li + li {	/* and remove the top border on all but first item in the list */
		border-top: 0;
	}
	.main_menu li li:hover>ul {	/* inset 2nd+ submenus, to show off overlapping */
		top: 5px;
		left: 90%;
	}
	.main_menu .bottomli{
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		-moz-border-radius-bottomright: 4px;
		-moz-border-radius-bottomleft: 4px;
	}

.logout {
	float: right;
	margin-right: 30px;
	line-height: 30px;
}
	.logout a {
		text-decoration: none;
	}
