/* 
 * Requests Page css
 */

/*jquery combobox's */
.ui-button { margin-left: -1px; }
.ui-button-icon-only .ui-button-text { padding: 0.35em; } 
.ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em; }

h1 {	
	font-size: 16px;
	font-weight: bold;
	color: #222;
}

.req_label{
	font-size:18px;
	float:left;
	margin-right:5px;
}
.mand{
	background: #FFDBDB;
}
.completed{
	background: #D7F5DB;
}
/* Row1 and associated fields */
#row1
{
	width:898px;
	float:left;
	padding: 10px;
	border: 1px solid #999;
	border-radius: 4px;
}

#row1 #module_sect
{
	padding:5px 0px 5px 5px;
	margin:0px;
	width:435px;
	float:left;
	border-radius: 3px;
}

.req_input{
	line-height: 26px;
	background-color:white;
	border:1px solid #999;
	border-radius: 1px;
}

.req_input:hover{
	background-color: #F7EDFA;
	border:1px solid grey;
}

#module_input{
	width:347px;
	float:left;
	border:1px solid grey;
	line-height:22px;
	text-align:left;
	margin:0px 0px 0px 5px;
	padding-left:3px;
	padding-top:3px;
	height: 25px;
	display:block;
}
#mod_expand{
	display:none;
	width:430px;
	height:100px;
	background-color:white;;
	margin-top:45px;
	overflow:auto;
	//border:1px solid #111;
}

#mod_expand .mod_elm{
	width:406px;
	height:20px;
	padding:2px 2px 2px 5px;
	color:grey;
	border-bottom:1px solid #111;
}
#mod_expand .mod_elm:hover{
	background-color:#F7E1EA;
	color:#111;
	cursor:pointer;
}
#mod_expand .mod_elm p{
	padding:0px;
	margin:0px;
	overflow:hidden;
}
#mod_tag {
	float: left;
	margin-top: 5px;
	margin-right: 10px;
}

#row1 #noStudents_sect
{
	padding:5px 0px 5px 5px;
	margin:0px;
	width:210px;
	float:left;
	border-radius: 3px;
	margin-left: 20px;
	height: 30px;
}

#nostud_tag {
	float: left;
	margin-top: 5px;
	margin-right: 10px;
}
#noStud_input {
	float: left;
}

#row1 #priority_sect
{
	padding:5px 0px 5px 5px;
	margin:0px;
	width:115px;
	float:left;
	margin-left: 60px;
}
#pri_div {
	float: left;
	margin-top: 6px;
}
#priority_tag {
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}

#row2 {
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #999;
	margin-top: 20px;
	float: left;
	width: 898px;
}

#facilities_sect
{
	padding:0px 0px 0px 5px;
	margin:0px;
	width:439px;
	float:left;
}

#fac_area{
	width:300px;
	/*border: 1px solid grey;*/
	height:100px;
	margin-top:5px;
	margin-left: 40px;
}

#fac_expand{
	display:block;
}
.fac_option{
	float:left;
	width:140px;
	position:relative;
	display:block;
	text-align:left;
	margin:5px;
	margin-bottom: 10px;
}


#fac_done{
	//display:none;
}
#fac_edit{
	display:none;
}
#fac_details{
	display:none;
}


#special_sect
{
	padding:0px;
	margin:0px;
	float:left;
	margin-left: 20px;
}

#req_tag {
	margin-top: 2px;
}

#spec_input{
	font-family:inherit;
	resize:none;
	width:350px;
	margin-left: 40px;
	margin-top: 5px;
}

/* Row3 and associated fields */
#row3
{
	width:898px;
	float:left;
	border: 1px solid #999;
	padding: 10px;
	border-radius: 4px;
	margin-top: 20px;
}

#row3 #parkrtype_sect
{
	padding:5px 0px 5px 0px;
	margin:0px;
	width:920px;
	height:40px;
	float:left;
}

#row3 #parkrtype_sect #park_sect
{
	padding:0px 0px 0px 5px;
	margin:0px;
	width:455px;
	float:left;
}
#park_input {
	float: left;
}
#park_tag {
	float: left;
	margin-top: 5px;
	margin-right: 20px;
}
#row3 #parkrtype_sect #roomty_sect
{
	padding:0px 0px 0px 5px;
	margin:0px;
	width:455px;
	float:left;
}
#room_type_input {
	float: left;
}
#type_tag {
	float: left;
	margin-top: 5px;
	margin-right: 20px;
}
#row3 #roomprefno_sect
{
	margin:0px;
	width:920px;
	float:left;
}

#row3 #roomprefno_sect #roompref_sect
{
	padding:5px 0px 5px 5px;
	margin:0px;
	width:455px;
	float:left;
}

#row3 #roomprefno_sect #noRooms_sect
{
	padding:5px 0px 5px 5px;
	margin:0px;
	width:330px;
	float:left;
	border-radius: 4px;
}

#noRooms_input {
	width: 90px;
	margin-left: 13px;
	text-align: center;
	font-weight: bold;
}

#room_type_input {
	float: left;
}
#numroom_tag {
	float: left;
	margin-top: 5px;
	margin-right: 10px;
}

#roompref_expand{
	width:100%;
	float:left;
	display:none;
	margin-top: 10px;
}

#search_area{
	width:900px;
	float:left;
	margin-bottom:5px;
}

.popup {
	margin-right: 40px;
}

#room_tag {
	float: left;
	margin-top: 7px;
	margin-right: 10px;
}

#roompref_input{
	width:230px;
	float:left;
	border:1px solid grey;
	line-height:22px;
	min-height: 30px;
	text-align:left;
	margin:0px 0px 0px 5px;
	padding-left:3px;
	padding-top:3px;
	display:block;
	border-radius: 3px;
	-webkit-user-modify: read-write;
	word-wrap: break-word;
	-webkit-nbsp-mode: space;
	-webkit-line-break: after-white-space;
}
#roompref_input .deletebutton {
	top: 7px;
}
#roompref_input .tag {
	margin-bottom: 2px;
}

/* Row4 and associated fields */
#row4
{
	width:920px;
	float:left;
	margin-top: 20px;
}

#row4 #length_sect
{
	padding: 8px;
	margin:0px;
	width:902px;
	float:left;
	border: 1px solid #999;
	margin-bottom: -6px;
	border-radius: 4px 4px 0px 0px;
}
#row4 #length_input, #length_tag {
	float: right;
}
#length_tag {
	font-size: 14px;
	font-weight: 500;
	margin-top: 7px;
	margin-right: 10px;
}
#time_tag {
	float: left;
	margin-top: 6px;
	margin-left: 5px;
}

#row4 #daytime_sect
{
	padding:0px;
	margin:5px 0px 0px 0px;
	width:920px;
	float:left;
}

/* Row5 and associated fields */
#row5
{
	width:920px;
	float:left;
	margin-top: 20px;
}
#weeks_sect{
	padding: 15px;
	border: 1px solid #999;
	border-radius: 4px;
}
#wks {
	margin-top: 10px;
	height: 15px;
	margin-left: 10px;
}
#week_boxes li{
	display: inline;
	list-style-type: none;
	padding-right: 10px;
	margin-right: 10px;
	margin-top: 10px;
}
#week_boxes p {
	display: inline;
}
#week_boxes p label {
	margin-right: 20px;
}
#week_sel_sect {
	margin-top: 10px;
	margin-left: 10px;
}

#submit_sect{
	width:920px;
	float:left;
	padding:5px 0px 0px 0px;
	margin-top: 20px;
}
#subwrap{
	margin-left:auto;
	margin-right:auto;
	width:200px;
}
#submit{
	width:200px;
	height:50px;
}

/* TOKENIZER */
.tag{
	display:inline-block;
	border:1px solid #e1dae8;
	background-color:#f1eaf8;
	border-radius:8px;
	padding:1px;
	margin-right:3px;
	padding-right:10px;
	cursor:pointer;
}
#module_input .tag {
	margin-bottom:3px; /*only for fac*/
	width:250px; /*only for fac*/
}
#roompref_input .tag {

}
.tag:hover{
	border:1px solid #d0c9d7;
	background-color: #e0d9e7;
}
.deletebutton {
	position: relative;
	display:inline-block;
	float:right;
	right:-6px;
	top:-8px; /* -1 when not float right */
	width: 7px;
	height: 7px;
	font-size: 1px;
 	background: url('../../images/close.gif'); 
}
.deletebutton:hover{ 
	border: none; 
	background-position: 7px; 
	text-decoration: none; 
}



.tableCell_blue {
    background: rgba(162,205,90,0.6);
}
.tableCell_normal {
	background: #333;
}
.tableCell_yellow {
	background: rgba(255, 255, 102, 0.6);
}
.tableCell_yellow:hover, .tableCell_blue:hover  {
    cursor: pointer;
    opacity: 0.7;
}
.tableCell_red {
	background: rgba(255, 106, 106, 0.6);
}

.td_content {
	font-size: 10px;
    margin: 3px;
    height: 41px;
    text-align: center;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #ddd;
    line-height: 17px;
    opacity: 1;
}

.blocked{
	background-color:lightgrey;
}
.td_content a {
    text-decoration: none;
    color: black;
}

.clickDiv {
    width: 100%;
    height: 100%;
}

#daytime_sel_table{
    background: #f5f7f9;
	width:100%;
	border: 1px solid #999;
	border-collapse: collapse;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

#daytime_sel_table td{
	border: 1px solid grey;
    background: white;
}

#daytime_sel_table h1 {
    font-size: 16px;
    margin-top: 5px;
    color: #CC0066;
}

#daytime_sel_table th{
	color: black;
    font-size: 14px;
	color: #306;
	vertical-align: middle;
	height: 30px;
}

#daytime_sel_table #days {
	width:100px;
}

#daytime_sel_table #days th, #daytime_sel_table #days td{
	height:50px;
}

#daytime_sel_table td{
	width:70px;
	margin:0px;
	padding:0px;
}

.hovertd{
	background:rgba(162,205,90,0.6) !important;
	opacity:0.7;
}
.selectedtd{
	background:rgba(162,205,90,0.6) !important;
}

#loadingOverlay {
	display: none;
	width: 220px;
	text-align: center;
	color: #222;
	font-size: 16px;
}

/* Room table */
.roomSelected td {
	background-color: #BCADCA !important;
}
#rooms tbody tr {
	cursor: pointer;
	text-align: center;
	height: 50px;
}
#rooms tbody td {
	height: 50px;
	vertical-align: middle;
}
#rooms .picture {
	width: 40px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2px;
	background-size: 40px 40px;
}

