/**
 *	File: css/pages/responses.css
 *  Author: Ben Faiers, Matthew Swift and James Wightman
 *  For: Reponses page
 */




	#loadingOverlay {
	display: none;
	width: 220px;
	text-align: center;
	color: #222;
	font-size: 16px;
}
	
	#top {
		overflow:hidden;
		margin-top: -20px;
		margin-left: 10px;
		width:880px;
		border: 1px solid;
		padding: 10px;
		background-color: #F5F7F9;
		border-radius: 4px;
	}
	
	.ui-autocomplete {
		max-height: 100px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		/* add padding to account for vertical scrollbar */
		padding-right: 20px;
	}
			
	#ModSearch {
		float:left;
		width:260px;
		margin-left:5px;
	}
				
	#filters {
		float:left;
		width:380px;
		overflow:hidden;	
	}
	
	#filterholder{
		border: 1px solid #999;
		height: 115px;
		padding: 5px 0px 10px 10px;
		border-radius: 4px;
		background-color: white;
	}
	
	#type {
		float:right;
		width:175px;
	}
			
	#Round {
		float:left;
		width:195px;
		margin-top: 5px;
	}
				
	#Part {
		float:right;
		width:150px;
		margin-top: 5px;
	}
			
	#Day {
		float:left;
		width:370;
		margin-top: 10px;
	}
						
	ul#typelist { 
		list-style-type: none;
		width:130px;
		margin-right:auto;
		border: 1px solid #999;
		border-radius: 4px;
	}
		
	ul#partlist { 
		list-style-type: none;
		width:130px;
		margin-right:auto;
	}
	
	ul#roundlist { 
		list-style-type: none;
		width:130px;
		margin-right:auto;
	}		
		
	#day ul { 
		width:100%;
		list-style-type: none;
	}
				
	#day ul li {
		display:inline;	
		float:left;
		padding: 2px 25px 0px 0px
	}
			
	#modulesearch {
		display:block;
		height:30px;
		width:220px;
		border:1px solid #999;
		border-radius: 4px;
		line-height:110%;
		font-size:15px;
		resize: none;
	}
						
	.heading {
		font-size:15px;
		font-weight: bold;
		padding:0px;
		margin-bottom:0.5em;
	}
	
	.subHeading{
		font-weight: bold;
	}
	
	#clear{
		float: right;
		margin-right: 40px;
	}
	
	#roundp {
		display: block;
	}

	#round1 {
		display: block;
	}

	#round2 {
		display: block;
	}

	#checkboxcol1 {
		float: left;
	}

	#checkboxcol2 {
		float: left;
		margin-left: 20px;
	}

	#checkboxcol3 {
		float: left;
		margin-left: 20px;
	}

	#roundcheckbox1 {
		float: left;
	}

	#roundcheckbox2 {
		float: left;
		margin-left: 20px;
	}

	#roundcheckbox3 {
		float: left;
		margin-left: 20px;
	}
			
	#allocated {
		background-color: rgba(162,205,90,0.4);
		padding:5px;
	}
				
	#failed	{
		background-color: rgba(255,106,106,0.4);
		padding:5px;
	}
	
	#reallocated {
		background-color: rgba(153,204,255,0.4);
		padding:5px;
	}
				
	#pending {
		background-color: rgba(240,237,69,0.4);
		padding:5px;
	}
			
	#declined {
		background-color: rgba(136,111,136,0.3);
		padding:5px;
	}
	
	.type_check {
		margin-top: -5px;
	}


	/* ONLY IF OVERLAY FOR EDIT REQUEST ON responses.php NEEDED.
	#addEditOverlay {
		width: 400px;
		height: 400px;
	}*/
	
	.decline{
		float: right;
		margin-top: 5px;
		margin-right: 35px;
	}
	
	.decline_btn{
		position: absolute;
		right: 12px;
		top: 2px;
	}
	
	.resubmit{
		float: right;
		margin-top: 5px;
		margin-right: 35px;
	}
	
	.resubmit_btn{
		position: absolute;
		right: 12px;
		top: 2px;
	}
	
	.delete{
		float: right;
		margin-top: 5px;
		margin-right: 35px;
	}
	
	.del_btn{
		position: absolute;
		right: 12px;
		top: 2px;
	}
	
	.edit_btn{
		position: absolute;
		right: 80px;
		top: 2px;
	}
	
	.edit{
		position: absolute;
		right: 104px;
		top: 4px;
	}
	
	.release{
		float: right;
		margin-top: 5px;
		margin-right: 35px;
	}
	
	.release_btn{
		position: absolute;
		right: 12px;
		top: 2px;
	}
	
	#divContainer {
		height: 610px;
		width: 900px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		background-color: #F5F7F9;
		border: 1px solid black;
		padding: 0px;
		position: relative;
		font: normal normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
		border-radius: 4px;
	}
		
	.divfixedHeader {
		height: 65px;
		width: 894px;
		color: #306;
		background-color: #F5F7F9;
		overflow: hidden;
		float: left;
		font-weight: bold;
		-moz-user-select: none;
		-khtml-user-select: none;
		//user-select: none;
		cursor: pointer;
		margin-left: 3px;
	}

	.scrollContent {
		color: #000000;
		background-color: #FFFFFF;
		position: relative;
		overflow: hidden;
		width: 860px;	
		-moz-user-select: none;
		-khtml-user-select: none;
		user-select: none;
		cursor:pointer;
		z-index:10;
	}

	.Pending {
		background-color: rgba(240,237,69,0.4);
	}

	.Allocated {
		background-color: rgba(162,205,90,0.4);
	}
	
	.Reallocated {
		background-color: rgba(153,204,255,0.4);
	}

	.Declined {
		background-color: rgba(136,111,136,0.3);
	}

	.Failed {
		background-color: rgba(255,106,106,0.4);
	}
			
	
	
	
	
	
	
	
	
	
	
	
	
	

	#title_round {
		width: 51px;
		float: left;
		text-align: center;
		padding: 24px 1px 24px 1px;
		border-bottom: 1px solid #306;	
		height: 40px;
		margin-left: 20px;
	}

	.roundcontent {
		width: 51px;
		float: left;
		text-align: center;
		padding: 20px 1px 24px 1px;
		border-bottom: 1px solid #454546;
		border-top: 1px solid #454546;			
		height: 20px;
	}

	#title_modcode {
		width: 60px;
		float: left;
		text-align: center;
		padding: 17px 1px 24px 1px;
		border-bottom: 1px solid #306;
		height: 40px;
		margin-left: 18px;
	}

	.modcodecontent {
		width: 86px;
		float: left;
		text-align: center;
		padding: 20px 1px 24px 1px;
		border-bottom: 1px solid #454546;
		border-top: 1px solid #454546;
		height: 20px;
	}

	#title_modtitle {
		width: 155px;
		float: left;
		text-align: center;
		padding: 24px 1px 24px 1px;
		border-bottom: 1px solid #306;
		height: 40px;
		margin-left: 12px;
	}

	.modtitlecontent {
		width: 162px;
		float: left;
		text-align: center;
		padding: 20px 1px 24px 1px;
		border-bottom: 1px solid #454546;
		border-top: 1px solid #454546;
		height: 20px;
	}

	#title_day {
		width: 101px;
		float: left;
		text-align: center;
		padding: 24px 1px 24px 1px;
		border-bottom: 1px solid #306;
		height: 40px;
		margin-left: 2px;
	}

	.daycontent {
		width: 101px;
		float: left;
		text-align: center;
		padding: 20px 1px 24px 1px;
		border-bottom: 1px solid #454546;
		border-top: 1px solid #454546;
		height: 20px;
	}

	#title_time {
		width: 61px;
		float: left;
		text-align: center;
		padding: 24px 1px 24px 1px;
		border-bottom: 1px solid #306;
		height: 40px;
		margin-left: 2px;
	}

	.timecontent {
		width: 61px;
		float: left;
		text-align: center;
		padding: 20px 1px 24px 1px;
		border-bottom: 1px solid #454546;
		border-top: 1px solid #454546;
		height: 20px;
	}

	#title_length {
		width: 61px;
		float: left;
		text-align: center;
		padding: 24px 1px 24px 1px;
		border-bottom: 1px solid #306;
		height: 40px;
	}

	.lengthcontent {
		width: 57px;
		float: left;
		text-align: center;
		padding: 20px 1px 24px 1px;
		border-bottom: 1px solid #454546;
		border-top: 1px solid #454546;
		height: 20px;
	}

	#title_numstudents {
		width: 80px;
		float: left;
		text-align: center;
		padding: 15px 1px 24px 1px;
		border-bottom: 1px solid #306;
		height: 40px;
	}

	.numstudentscontent {
		width: 84px;
		float: left;
		text-align: center;
		padding: 20px 1px 24px 1px;
		border-bottom: 1px solid #454546;
		border-top: 1px solid #454546;
		height: 20px;
	}

	#title_numrooms {
		width: 60px;
		float: left;
		text-align: center;
		padding: 15px 1px 24px 1px;
		height: 40px;
	}

	.numroomscontent {
		width: 60px;
		float: left;
		text-align: center;
		padding: 20px 1px 24px 1px;
		border-bottom: 1px solid #454546;
		border-top: 1px solid #454546;
		height: 20px;
	}

	#title_roompreference {
		width: 89px;
		float: left;
		text-align: center;
		padding: 15px 1px 24px 1px;
		height: 40px;
	}

	.roompreferencecontent {
		width: 89px;
		float: left;
		text-align: center;
		padding: 20px 1px 24px 1px;
		border-bottom: 1px solid #454546;
		border-top: 1px solid #454546;
		height: 20px;
	}

	#title_roomallocation {
		width: 89px;
		float: left;
		text-align: center;
		padding: 15px 1px 24px 1px;
		height: 40px;
	}

	.roomallocationcontent {
		width: 89px;
		float: left;
		text-align: center;
		padding: 20px 1px 24px 1px;
		border-bottom: 1px solid #454546;
		border-top: 1px solid #454546;
		height: 20px;
	}

	#scrollablearea {
		height: 528px;
		width: 860px;
		margin-left:20px;
		background-color: #FFFFFF;
		overflow-x: hidden;
		overflow-y: auto;
		border: 1px solid #454546;
	}

	.hidden {
		display: none;	
		-moz-user-select: none;
		-khtml-user-select: none;
		user-select: none;
		cursor:default;
		height:148px;
		border-bottom: 1px solid;
	}
	
	form textarea {
		height: 6em;
		overflow-x: auto;
		resize: none;
	}

	.title {
		text-align: center;
		font-weight: bold;
		text-decoration: underline;
	}

	.info1 {
		margin-left: 50px;
		margin-right: auto;
		width: 225px;
		float: left;
	}

	.info2 {
		margin-left: 0px;
		margin-right: auto;
		width: 250px;
		float: left;
	}

	.info3 {
		margin-left: 50px;
		margin-right: auto;
		width: 250px;
		float: left;
	}

	.normal{
		display: inline;
	}

	.facilities {
		width: 250px;
		margin-left:85px;
		margin-right: auto;
		margin-top: 10px;
	}

	.requirementstextarea {
		width: 50px;
		margin-left: 20px;
		margin-right: auto;
	}

	.toolbar {
		display: none;
		width:125px;
		height:25px;
		z-index: 15;
		position: absolute;
		top: 0;
		right:10;
	}
	
	/*DIV CLASS FOR PRIORITY IMAGE*/
	.priority {
		display: block;
		width:125px;
		height:35px;
		z-index: 15;
		position: absolute;
		top: 0;
		left:0;
	}

	.editoverlay {
		width: 500px;
		height: 500px;
		border: 1px solid black;
		background-color: #FFFFFF;
		position: absolute;
		top: 0;
		left: 0;
	}

	.edit_ul {
		text-decoration: underline;
	}

	.delete_ul {
		text-decoration: underline;
	}
	
	.decline_ul{
		text-decoration: underline;
	}
	
	.resubmit_ul{
		text-decoration: underline;
	}
	
	.release_ul{
		text-decoration: underline;
	}